/* App.module.css */
.app {
  display: flex;
  height: 100vh; /* Use full height to prevent actual page scrolling */
  overflow: hidden;
}

.leftPanel,
.rightPanel {
  padding: 20px;
  transition: flex-basis 0.5s ease;
}

.leftPanel {
  background-color: white;
  flex-basis: 75%;
}

.small {
  /* The leftPanel becomes smaller after the first feature */
  flex-basis: 25%;
}

.rightPanel {
  background-color: lightgrey;
  flex-basis: 25%;
  overflow-y: scroll; /* Allows scrolling within the feature panel */
}

.feature {
  height: 100%; /* Each feature takes full height */
}

@media (max-width: 768px) {
  /* Adjust styles for mobile responsiveness */

  .app {
    flex-direction: column;
  }

  .leftPanel,
  .rightPanel {
    flex-basis: unset;
  }

  .small {
    flex-basis: 100%;
  }

  .rightPanel {
    order: -1; /* Make the right panel appear above the left panel */
  }
}